
.jmv-results {
    margin: 0 ;
    padding: 0 ;
}

.jmv-results-panel {
    --a4-width: 900px;
    width: min-content ;
    height: max-content ;
    box-sizing: border-box;
    transition: all .2s ;
    background-color: white ;
    padding: 2px 0px 0 2px;
    min-width: var(--a4-width);
    min-height: 100%;
    filter: drop-shadow(2px 2px 2px #a6a6a600);
    justify-self: center;
    align-self: center;
    padding: 40px 90px;
    overflow:visible;
    margin: 0 auto;
    border: 1px transparent solid;
}

[data-splitpanel-mode='results'] .jmv-results-panel {
    --a4-width: 900px;
    --a4-ratio: 1.414;
    min-width: var(--a4-width);
    filter: drop-shadow(2px 2px 2px #a6a6a6);
    align-self: center;
    height: max-content;
    min-height: calc(var(--a4-width)*var(--a4-ratio));
    margin-bottom: 7px;
    margin-top: 7px;
    border: 1px #bbb solid;
    padding: 90px 90px;
}

.jmv-results-container[data-analysis-name='weights'] {
    margin: 10px 0px;
}

.jmv-welcome-panel {
    width: 100% ;
    height: 100% ;
    background-color: white ;
    position: relative ; /* this is necessary, but not sure why */
}

.jmv-welcome-iframe {
    box-sizing: border-box;
    border: none;
    width: 100% ;
    height: 100% ;
    overflow: scroll ;
    background-color: white ;
}

.jmv-results-panel.jmv-results-panel-hidden, .jmv-welcome-panel.jmv-welcome-panel-hidden {
    width: 0 ;
    overflow: hidden ;
    padding-right: 0 ;
    height: 0;
}

[data-splitpanel-mode='mixed'] .jmv-results-panel[data-analysis-selected] {
    background-color: inherit ;
}

.jmv-results-panel.all-selected {
    background-color: #B5CAEF;
}

.jmv-results-panel iframe {
    overflow: hidden ;
    background-color: transparent ;
    transition: 0.3s background-color, 0.2s height, 0.2s width;
}

.jmv-results-panel iframe::-webkit-scrollbar {
    display: none;
}

.jmv-results-panel:not(.all-selected) .jmv-results-container[data-selected] iframe,
.jmv-results-panel:not(.all-selected) jmv-references[data-selected] {
    background-color: white ;
}

[data-splitpanel-mode='results'] .jmv-results-panel:not(.all-selected) .jmv-results-container[data-selected] iframe,
[data-splitpanel-mode='results'] .jmv-results-panel:not(.all-selected) jmv-references[data-selected] {
    outline: solid;
}

.jmv-results-panel:not(.all-selected) .jmv-results-container.empty-analysis iframe.hover {
    background-color: #f1f1f1 ;
}

.jmv-results-container[data-selected] .jmv-results-cover {
    display: none ;
}

.jmv-results-container {
    position: relative ;
    max-width: min-content !important;
}

.ce-inline-toolbar { 
    visibility: hidden; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
} 

.ce-block--focused .ce-inline-toolbar { 
    visibility: visible; 
    opacity: 1; 
}

.ce-block .ce-block__content {
    max-width: 760px;
    margin: unset;
}

.ce-toolbar__content {
    margin: unset;
}

.ce-block {
    position: relative;
}

.codex-editor {
    position: relative;
}

.jmv-results-container:not([data-analysis-name='empty']) {
    transition: 0.5s height ;
}

.jmv-results-cover {
    position: absolute ;
    top: 0;
    right: 0 ;
    left: 0;
    bottom: 0;
    opacity: 0 ;
    background-color: white ;
    z-index: 1 ;
    border: 1px dash transparent;
}

.jmv-results-cover:hover {
    border: 1px dash black;
}

jmv-references {
    margin-top: 50px ;
    margin-bottom: 20px ;
    border: 2px solid transparent ;
    max-width: 1000px ;
}

.jmv-results-panel[data-mode='text'] jmv-references {
    /* prevents it from concertina-ing when sliding in and out */
    width: 700px ;
}

jmv-references.activated {
    background-color: #B5CAEF ;
    border: 2px solid #8BA4D6;
}
